body {
  font-family: 'Arial', sans-serif;
  background-color: #f3f4f6;
  
}

.landing-container {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/src/assets/background-image.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: #ffffff;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #ffd700;
}

.intro-text h1 {
  font-size: 3.5rem;
  margin-bottom: 20px;
  color: #f4f6f7;
}

.intro-text p {
  font-size: 1.2rem;
  color: #cccccc;
}

/* Hobbies Section */
.hobbies-section {
  padding: 50px 20px;
  text-align: center;
  
}

.hobbies-section h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
}

/* Hobby Container */
.hobbies-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.hobby {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
  text-align: center;
  transition: transform 0.3s;
}

/* Image Styling */
.hobby img {
  width: 100%;
  max-width: 150px; /* Keep images at a consistent size */
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.hobby p {
  font-size: 1.1rem;
  color: #333;
  margin-top: 10px;
}

/* Hover Effects */
.hobby:hover {
  transform: scale(1.05);
}

.hobby img:hover {
  transform: scale(1.1);
}
